#btnTopo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 70%;
    font-size: 20px;
    cursor: pointer;
    display: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s;
    width: 50px;
  }

  #btnTopo:hover {
    background-color: #0056b3;
  }