@use 'variaveis';

body {
    background-color: var(--bg);
    color: var(--text);
    line-height: 1.6;
    overflow-x: hidden;
    scroll-behavior: smooth;
   


}

html {
    scroll-behavior: smooth; /* Fallback suave para navegadores modernos */
  }
  
  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto; /* Respeita preferências de acessibilidade */
    }
  }

/* Efeito de partículas */
#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.35;
}

/* Container principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.wave path {
    fill: var(--card);
    transition: fill 0.5s ease;
}

.body{
  background-color: var(--card2);
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 50px;
}
