@use 'variaveis';

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;

  .hero-content {
    max-width: 800px;
    position: relative;
    z-index: 1;
    
  }

  h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    line-height: 1.2;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    

    span {
      background: linear-gradient(90deg, var(--primary), var(--accent));
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #9ca3af;
    max-width: 600px;
    font-family: 'Poppins', sans-serif;
  }

  .hero-btns {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
} 
