@use 'variaveis';

.about-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  align-items: center;

  .about-text {
    h3 {
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
      color: var(--text);
    }

    p {
      margin-bottom: 1.5rem;
      color: #9ca3af;
    }
  }

  .about-image {
    img {
      width: 70%;
      height: auto;
      display: block;
      margin-left: 15%;
      transition: transform 0.5s ease;
      border-radius: 40px;
      border: 3px solid var(--secondary);
    }

    &:hover img {
      transform: scale(1.05);
    }
  }
}
